.nav{
    display: flex;
    margin-left: 5%;
}
.cart{
    display: flex;
    justify-content: space-between;
    margin-left: 75%;
    margin-top: 1%;
}
ul{
    display: flex;
    list-style-type: none;
    margin-top: 2%;
}
li{
    margin-left: 20%;
}
.cart-icon{
    margin-top: 15%;
    margin-left: 5%;
}
.top{
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
select{
    width: 15vw;
    height: 5vh;
    margin-top: 25%;
}
.products{
    background: #e3e6e3;
    display: flex;
    flex-wrap: wrap;
}
.product{
    width: 30vw;
    margin-top: 5%;
}
.product-image{
    width: 10vw;
    height: 15vh;
}
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: auto;
}
.add{
    background: #000000;
    color: #ffffff;
    height: 5vh;
    width: 10vw;
    border: none;
    border-radius: 5px;
}
.heading{
    display: flex;
}
.back-icon{
    position: absolute;
    top: -7.5%;
    right: 22%;
}
.heading p{
    position: absolute;
    right: 10%;
}