.nav{
    display: flex;
    margin-left: 5%;
}
.cart{
    display: flex;
    justify-content: space-between;
    margin-left: 75%;
    margin-top: 1%;
}
ul{
    display: flex;
    list-style-type: none;
    margin-top: 2%;
}
li{
    margin-left: 20%;
}
.cart-icon{
    margin-top: 15%;
    margin-left: 5%;
}
.top{
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
select{
    width: 15vw;
    height: 5vh;
    margin-top: 25%;
}
.products{
    background: #e3e6e3;
    display: flex;
    flex-wrap: wrap;
}
.product{
    width: 30%;
    margin: 2.5%;
}
.product-image{
    width: 10vw;
    height: 15vh;
}